:root {
  /* Primary Colors */
  --clr--moderate-violet: hsl(263, 55%, 52%);
  --clr--very-dark-grayish-blue: hsl(217, 19%, 35%);
  --clr--very-dark-blackish-blue: hsl(219, 29%, 14%);
  --clr--white: hsl(0, 0%, 100%);

  /* Neutral Colors */
  --clr--light-gray: hsl(0, 0%, 81%);
  --clr--light-grayish-blue: hsl(210, 46%, 95%);
}
